{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<h1>You are already logged in.</h1>
{% else %}
<div class="bg white">

  <div class="row">
    <div class="col">
    </div>

    <div class="col-6">
          <form class="form-group text-white" method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <button type="submit" class="btn btn-success">Register</button>
          </form>

    </div>

    <div class="col">
    </div>
  </div>
{% endif %}
{% endblock %}
